body {
    width: 300px;
    height: 300px;
    padding: 10px;
    font-family: system-ui;
    text-align: center;
    font-size: 1.3rem;
}

button {
    margin-left: 1rem;
    border-radius: 0.25rem;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

button#submit {
    background-color: green;
}

.blocResult {
    display: none;
}

#inputPwd {
    width: 5rem;
}

#result {
    font-size: 1.125rem;
}

#inputResult {
    margin-bottom: 0.8rem;
}