body {
    width: 300px;
    padding: 10px;
    font-family: system-ui;
    text-align: center;
}

.text-center {
    text-align: center;
}

.text-xl {
    font-size: 1.25rem;
}

button {
    margin-left: 1rem;
    border-radius: 0.25rem;
    background-color: green;
    border: none;
    padding: 0.5rem;
}
